$font: 'Roboto', sans-serif;

$bodySize: 14px;
$smallTitle: 1.5rem;
$bigTitle: 2.25rem;

$bigTitleMobile: 1.8rem; // -20%
$smallTitleMobile: 1.44rem; // -20%

$bodyColor: #ffffff;
$accentColor: #ff5252;
$accentGreenish: #0097A7;
$miscColor: #949494;
$darkerBodyColor: #D5D5D5;

$darkBlueLayout: #161E21;
